<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/my_final_project?serverTimezone=UTC</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">seadragon</property>
        <property name="connection.pool_size">50</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="Model.Korisnik"/>
        <mapping class="Model.Lijek"/>
        <mapping class="Model.ObrazacLijeka"/>
        <mapping class="Model.Recept"/>
        <mapping class="Model.PrepisaniLijekovi"/>
        <mapping class="Model.Pacijent"/>

    </session-factory>
</hibernate-configuration>